@page "/"

<h1>Hello Passcore!</h1>

<p>
    Welcome to Passcore Web! You can access a limited passcore application without installing anything!
    <br>
    If you are new here
</p>

<div class="alert alert-success" role="alert">
    <span class="oi oi-lock-locked mr-2" aria-hidden="true"></span>
    <strong>Your Privacy Matters!</strong>
    <span class="text-nowrap">
        Passcore Web is developed with Blazor WebAssembly, so your private data will not pass through our servers!
    </span>
</div>

<div class="alert alert-info" role="alert">
    <span class="oi oi-badge mr-2" aria-hidden="true"></span>
    <strong>New Here?</strong>
    <span class="text-nowrap">
        Please visit our <a href="guide">guide</a> to explore Passcore.
    </span>
</div>

<div class="alert alert-warning" role="alert">
    <span class="oi oi-warning mr-2" aria-hidden="true"></span>
    <strong>Warning!</strong>

    <span class="text-nowrap">
        Passcore is still under development, so it may be unstable!
    </span>
</div>

<SurveyPrompt Title="How is Passcore Web working for you?" />
