@page "/"

<h1>Hello Passcore!</h1>

Welcome to Passcore Web! You can access a limited passcore application without installing any application!

<SurveyPrompt Title="How is Passcore Web working for you?" />
