@page "/passcore"
@using global::Passcore;
@using System.Text

<h1>Passcore</h1>
<div class="form-group row">
    <label for="txvMasterKey" class="col-sm-2 col-form-label">MasterKey</label>
    <div class="col-sm-10">
        <input class="form-control" id="txvMasterKey" @bind="MasterKey"/>
    </div>
</div>

<div class="form-group row">
    <label for="txvPasswd" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
        <input class="form-control" id="txvPasswd" @bind="Password"/>
    </div>
</div>

<div class="form-group row">
    <label for="txvEnhance" class="col-sm-2 col-form-label">Enhance</label>
    <div class="col-sm-10">
        <input class="form-control" id="txvEnhance" @bind="Enhance"/>
    </div>
</div>

<div class="form-group row">
    <label for="skbLength" class="col-sm-2 col-form-label">Length Control</label>
    <div class="col-sm-10">
        <input type="range" class="form-control-range" id="skbLength" min="0" max="@LengthMax" @bind="SkbLength">
    </div>
</div>

<div class="row">
    <div class="col">
        <input type="checkbox" id="ckbIsWeak" @bind="IsWeak">
        <label for="ckbIsWeak"> Weak password</label>
    </div>
    <div class="col">
        <input type="checkbox" id="ckbIsChar" @bind="IsCharRequired">
        <label for="ckbIsChar"> Is Char Required</label>
    </div>
</div>

<div class="form-group row">
    <label for="txLen" class="col-sm-2 col-form-label">Password Length</label>
    <div class="col-sm-10">
        <label id="txLen" class="col-form-label form-control">@LengthStr</label>
    </div>
</div>
<div class="form-group row">
    <label for="txvResult" class="col-sm-2 col-form-label">Result</label>
    <div class="col-sm-10">
        <p class="text-break" id="txvResult">@Result</p>
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-12 col-md-4" style="margin-bottom: 1rem;">
        <button class="col-sm-12 col-md-12 btn btn-primary btn-lg" @onclick="GetResult">Generate</button>
    </div>
    <div class="col-sm-12 col-md-4" style="margin-bottom: 1rem;">
        <button class="col-sm-12 col-md-12 btn btn-secondary btn-lg" @onclick="Clear">Clear</button>
    </div>
    <div class="col-sm-12 col-md-4">
        <button class="col-sm-12 col-md-12 btn btn-secondary btn-lg" @onclick="Random">Random</button>
    </div>
</div>

@code {
    private int _skbLength = 0;
    private bool _isWeak;
    private string LengthStr { get; set; } = GetLength(0).ToString();

    private bool IsWeak
    {
        get => _isWeak;
        set
        {
            if (GetMax(value) < SkbLength)
            {
                _skbLength = GetMax(value);
            }
            _isWeak = value;
            LengthStr = GetLength(SkbLength, value).ToString();
        }
    }

    private int SkbLength
    {
        get => _skbLength;
        set
        {
            _skbLength = value;
            LengthStr = GetLength(value, IsWeak).ToString();
        }
    }

    private int LengthMax
    {
        get => GetMax(IsWeak);
    }

    private string MasterKey { get; set; }
    private string Enhance { get; set; }
    private string Password { get; set; }
    private bool IsCharRequired { get; set; }
    private string Result { get; set; }

    private static int KRNG(int min, int max)
        => new Random(Guid.NewGuid().GetHashCode()).Next(min, max);

    private void Random()
    {
        var dic = GetDic();
        StringBuilder sb = new StringBuilder();
        var len = GetLength(SkbLength, IsWeak);
        for (int i = 0; i < len; ++i)
        {
            var m = dic[KRNG(0, dic.Length)].dict;
            sb.Append(m[KRNG(0, m.Length)]);
        }
        Result = sb.ToString();
    }

    private static readonly int[] WeakLength = {4, 6, 8, 10};

    private static readonly int[] NormLength = {12, 16, 24, 32, 48, 64, 128, 256, 384, 512};

    private static int GetMax(bool isWeak = false)
    {
        if (isWeak)
            return WeakLength.Length - 1;
        return NormLength.Length - 1;
    }

    private static int GetLength(int index, bool isWeak = false)
    {
        if (isWeak)
            return WeakLength[index];
        return NormLength[index];
    }

    private void Clear()
    {
        MasterKey = Enhance = Password = Result = "";
    }

    private void GetResult()
    {
        Result = global::Passcore.Passcore.GeneratePassword(
            GetDic(),
            GetLength(SkbLength, IsWeak),
            MasterKey == null ? "" : MasterKey,
            Password == null ? "" : Password,
            Enhance == null ? "" : Enhance
            );
    }

    private (char[] dict, int occur)[] GetDic()
    {
        if (IsCharRequired)
            return new (char[] dict, int occur)[]
            {
                (Tables.LatinLower, 0),
                (Tables.LatinUpper, 0),
                (Tables.Number, 0),
                (Tables.Symbol, 0)
            };
        else
            return new (char[] dict, int occur)[]
            {
                (Tables.LatinLower, 0),
                (Tables.LatinUpper, 0),
                (Tables.Number, 0)
            };
    }

}